In [345]:
import pandas as pd
from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.metrics import mean_absolute_error

In [346]:
# wczytujÄ™ dane
df = pd.read_csv('./data/california_housing.csv')
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Unnamed: 9
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000,0.0
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500,NaN
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747,NaN
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000,NaN
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000,NaN
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000,NaN
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000,NaN
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000,NaN

In [347]:
# usuwam pustÄ… kolumnÄ™, i kolumnÄ™ ocean_proximity, poniewasz zawiera niepeÅ‚ne dane, nie wiadomo jak naleÅ¼y intepretowaÄ‡ nany
df.drop(columns=['Unnamed: 9', 'ocean_proximity'], inplace=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700
1,-118.30,34.26,43,1510,310,809,277,3.5990,176500
2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500
3,-118.36,33.82,28,67,15,49,11,6.1359,330000
4,-119.67,36.33,19,1241,244,850,237,2.9375,81700
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23,1450,642,1258,607,1.1790,225000
2996,-118.14,34.06,27,5257,1082,3496,1036,3.3906,237200
2997,-119.70,36.30,10,956,201,693,220,2.2895,62000
2998,-117.12,34.10,40,96,14,46,14,3.2708,162500
2999,-119.63,34.42,42,1765,263,753,260,8.5608,500001

In [348]:
# liczÄ™ Å›rednie, aby zmienne byÅ‚y niezaleÅ¼ne od siebie
df['avg_rooms'] = df['total_rooms'] / df['households']
df['avg_bedrooms'] = df['total_bedrooms'] / df['households']
df['avg_population'] = df['population'] / df['households']
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,avg_rooms,avg_bedrooms,avg_population
0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700,6.410891,1.090759,2.536304
1,-118.30,34.26,43,1510,310,809,277,3.5990,176500,5.451264,1.119134,2.920578
2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500,7.250505,1.024242,2.997980
3,-118.36,33.82,28,67,15,49,11,6.1359,330000,6.090909,1.363636,4.454545
4,-119.67,36.33,19,1241,244,850,237,2.9375,81700,5.236287,1.029536,3.586498
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23,1450,642,1258,607,1.1790,225000,2.388797,1.057661,2.072488
2996,-118.14,34.06,27,5257,1082,3496,1036,3.3906,237200,5.074324,1.044402,3.374517
2997,-119.70,36.30,10,956,201,693,220,2.2895,62000,4.345455,0.913636,3.150000
2998,-117.12,34.10,40,96,14,46,14,3.2708,162500,6.857143,1.000000,3.285714
2999,-119.63,34.42,42,1765,263,753,260,8.5608,500001,6.788462,1.011538,2.896154

In [349]:
features = ['longitude', 'latitude', 'housing_median_age', 'avg_population', 'households', 'median_income', 'avg_rooms', 'avg_bedrooms']
# mieszam dataset
df = shuffle(df)
X, y = df[features], df['median_house_value']
# train/test = 2500/500
X_train, X_test, y_train, y_test = X[500:], X[:500], y[500:], y[:500]
X_train, X_test, y_train, y_test

(      longitude  latitude  housing_median_age  avg_population  households  \
 1075    -122.28     38.29                  19        1.737500          80
 582     -117.87     33.74                  16        5.119681         376
 433     -116.84     33.08                  15        3.204348         460
 167     -121.56     38.26                  43        3.171975         314
 665     -118.14     33.89                  33        2.516312         705
 ...         ...       ...                 ...             ...         ...
 2748    -118.07     34.17                  34        2.694346         566
 1549    -117.77     33.72                   9        2.944444         324
 2156    -120.79     38.43                  40        2.551402         214
 766     -118.41     34.18                  35        2.172414         406
 1011    -120.32     37.29                  38        4.267857         112

       median_income  avg_rooms  avg_bedrooms
 1075         1.9875   6.637500      1.400000
 582          2.7632   3.305851      0.970745
 433          4.0408   5.989130      1.128261
 167          2.9744   6.070064      1.041401
 665          2.9292   4.066667      1.114894
 ...             ...        ...           ...
 2748         7.8588   7.176678      1.054770
 1549         7.8139   6.645062      0.975309
 2156         3.9107   6.500000      1.149533
 766          4.3750   4.864532      0.945813
 1011         2.3382   5.142857      1.160714

 [2500 rows x 8 columns],
       longitude  latitude  housing_median_age  avg_population  households  \
 1815    -117.94     33.86                  36        2.749507         507
 2551    -122.21     37.83                  40        2.470948         654
 1799    -115.56     32.78                  34        3.116858         522
 1827    -115.57     32.79                  50        3.153285         274
 1468    -122.29     37.91                  46        2.112994         354
 ...         ...       ...                 ...             ...         ...
 998     -118.33     34.11                  48        1.700651         461
 1810    -118.32     33.97                  46        2.660131         306
 726     -117.20     32.80                  36        1.923990         842
 2094    -118.46     34.18                  35        3.188544         419
 2905    -121.30     38.89                  23        3.212698         315

       median_income  avg_rooms  avg_bedrooms
 1815         4.6477   5.570020      0.972387
 2551         7.5544   7.631498      1.030581
 1799         3.2083   5.471264      1.063218
 1827         1.6667   4.711679      1.010949
 1468         4.0536   5.889831      0.977401
 ...             ...        ...           ...
 998          3.0642   3.472885      1.006508
 1810         4.3919   4.915033      0.882353
 726          2.3599   4.771971      1.267221
 2094         3.4583   4.341289      1.109785
 2905         3.4706   5.555556      0.942857

 [500 rows x 8 columns],
 1075    325000
 582     158900
 433     225900
 167     136800
 665     183400
          ...
 2748    454800
 1549    304700
 2156    129800
 766     291700
 1011     59600
 Name: median_house_value, Length: 2500, dtype: int64,
 1815    194700
 2551    411500
 1799     76200
 1827     68100
 1468    262000
          ...
 998     342900
 1810    157100
 726     168400
 2094    253200
 2905     99300
 Name: median_house_value, Length: 500, dtype: int64)

In [350]:
# regresja liniowa
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)
r2 = reg.score(X_test, y_test)
mae = mean_absolute_error(y_test, reg.predict(X_test))
r2, mae

(0.6070097265731218, 51010.71208936498)

Å›redni bÅ‚ad wynosi ~50k, Å›redia wartoÅ›Ä‡ domu to ~200k, wiÄ™c ten model nie sprawdza siÄ™ zbyt dobrze